@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.first-header li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
}

.first-header header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.first-header .brand {
  color: #edf0f1;
  font-size: 35px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.first-header .nav-links {
  list-style: none;
}

.first-header .nav-links li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.first-header .nav-links li a {
  transition: all 0.3s ease 0s;
  font-size: 25px;
}

.first-header .nav-links li a:hover {
  color: #0088a9;
}

.first-header button {
  padding: 9px 25px;
  background-color: rgba(7, 8, 7, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 25px;
}

.first-header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/* SECOND HEADER */
.second-header li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #edf0f1;
}

.second-header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #6b5264;
}

.second-header .brand {
  cursor: pointer;
  color: #edf0f1;
  font-size: 35px;
  order: 3;
  margin-left: auto;
  font-family: "Montserrat", sans-serif;
}

.second-header nav {
  order: 1;
}

.second-header .nav-links {
  list-style: none;
}

.second-header .nav-links li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.second-header .nav-links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.second-header .nav-links li a {
  transition: all 0.3s ease 0s;
  font-size: 25px;
}

.second-header .nav-links li a:hover {
  color: #b983c3;
}

.second-header .cta {
  order: 2;
}

.second-header button {
  padding: 9px 25px;
  background-color: rgba(82, 43, 90, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
  font-size: 25px;
}

.second-header button:hover {
  background-color: rgba(185, 131, 195, 1);
}

/* THIRD HEADER */

.third-header li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
}

.third-header header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #586560;
}

.third-header .brand {
  cursor: pointer;
  color: #edf0f1;
  font-size: 35px;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}

.third-header .nav-links {
  list-style: none;
}

.third-header .nav-links li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.third-header .nav-links li a {
  transition: all 0.3s ease 0s;
  font-size: 25px;
}

.third-header .nav-links li a:hover {
  color: rgba(114, 190, 91, 1);
}

.third-header button {
  padding: 9px 25px;
  background-color: rgba(63, 117, 47, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
  font-size: 25px;
}

.third-header button:hover {
  background-color: rgba(114, 190, 91, 1);
}

@media (max-width: 700px) {
  .first-header .nav-links li a {
    display: none;
  }

  .first-header .brand {
    font-size: 25px;
  }

  .first-header button {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .second-header .nav-links li a {
    display: none;
  }

  .second-header .brand {
    font-size: 25px;
  }

  .second-header button {
    font-size: 18px;
  }

  .second-header .cta {
    order: 0;
  }
}

@media (max-width: 700px) {
  .third-header .nav-links li a {
    display: none;
  }

  .third-header .brand {
    font-size: 25px;
  }

  .third-header button {
    font-size: 18px;
  }
}
